.heading{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(8, 40, 100);
    /* text-align: center; */
}
.para{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(8, 40, 100);  
}